.rss-feed {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.widget-container{
    height: 100%;   
}

.widget-styling-bar{
    position: absolute;
    height: 20px;
    width: 100%;
    z-index: 0;
    
}

.widget-header{
    height: 60px;
    width: 100%;
}

.widget-header div h3{
    position: relative;
    top: 15px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    z-index: 1;
}

.widget-header-title{
    display: inline;
}

.widget-header-options{
    display: inline;
    position: relative;
    padding-right: 5px;
    top: -7.5px;
    z-index: 1
}

.widget-header-options .mdi-action-settings{
    font-size: 15px;
    color: white;
}

.widget-header-options .mdi-action-highlight-remove{
    font-size: 17.5px;
    color: white;
}

.widget-header-options .mdi-navigation-refresh{
    font-size: 17.5px;
    color: white;
}

.widget-main{
    height: -webkit-calc(100% - 80px);
    overflow: auto;
}

.collection-item{
    text-align: left;
}

.widget-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;  
}

.feed-title{
    display: inline;
}

.feed-title i{
    padding-right: 20px;
    position: relative;
    top: 1px;
}

.feed-title p{
    display: inline;
    color: #212121;
}

.feed-title i{
    color: #727272;
}

.feed-date{
    display: inline;
    font-size: 10px;
    color: black;
    opacity: 0.5;
}


